body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #FFF;
    background-image: url('../imgs/background_index.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    align-content: center;
}

.card {
    background-color: rgba(0,0,0,0.5) !important;
    margin-top: 15%;
    margin-bottom: auto;
    width: 200%;
}