.home {
    height: 100%;
    width: 100%;
    font: 400 1rem/1.8 "Lato", sans-serif;
    color: #FFF;
    background-image: url('../imgs/stitch_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}

.container {
    align-content: center;
}

.card {
    background-color: rgba(0,0,0,0.5) !important;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

a {
    color: #00c0ff;
}