.home {
    height: 100%;
    width: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #FFF;
    background-image: url('../imgs/background_index.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: fixed;
}

.birthday {
    /* background: url('../imgs/stitch_wallpaper.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; */
    /* background-size: cover;
    background-image: url('../imgs/stitch_wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

#bg {
    position: fixed; 
    top: 0; 
    left: 0; 
      
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.container {
    align-content: center;
}

.card {
    background-color: rgba(0,0,0,0.5) !important;
    margin-top: 15%;
    margin-bottom: auto;
    width: 200%;
}