<img src="assets\imgs\stitch_wallpaper.jpg" class="fullScreen" alt="">

<div class="container-fluid white">
  <div class="row fullScreen align-middle align-items-center" ng-show="accessZone == 0" style="padding: 2rem;">
    <div class="col"></div>
    <div class="col-10 text-center">
      <div class="form-group">
        <label class="alert alert-info" for="accessCode">Insira seu código de convidado abaixo :)</label>
        <input ng-model="codigoAcesso" ng-change="verificaAcesso()" type="text" class="form-control" id="accessCode" placeholder="Digite o seu código!">
      </div>
    </div>
    <div class="col"></div>
  </div>

  <audio id="ohanaMeansFamily" src="assets/audios/OhanaMeansFamily.mp3"></audio>

  <div class="container-fluid" ng-show="accessZone == 1">
    <div class="row justify-content">
      <div class="col text-center">
        <video ng-show="videoNumber == 0" id="introStitch" src="assets/videos/StitchIntroCompacto.mp4" width="100%" height="100%" class="fullScreenVideo" controls></video>
        <video ng-show="videoNumber == 1" id="sadStitch" src="assets/videos/StitchTristeCompacto.mp4" width="100%" height="100%" class="fullScreenVideo" controls></video>
        <video ng-show="videoNumber == 2" id="happyStitch" src="assets/videos/StitchFelizCompacto.mp4" width="100%" height="100%" class="fullScreenVideo" controls></video>
      </div>
    </div>
  </div>

  <div class="container-fluid" ng-show="accessZone == 2">
    <div class="row justify-content" style="padding: 2rem;">
      <div class="col"></div>
      <div class="col-8 text-center">
        <div class="card">
          <div class="card-header">
            <h2 style="padding: 1em;">
              {{convidados}}
            </h2>
          </div>
          <div class="card-body">

            <div class="row align-middle align-items-center" style="margin: 2rem;">
              <div class="col">
                <div class="alert alert-info" role="alert">Você foi convidado para o aniversário da Maria Luiza, se prepare para um dia de diversão, alegria, brincadeiras e muita loucuraa!!</div>
              </div>
            </div>
            
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapseData">Data</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapseData">
                  <div class="card card-body">
                    <span><b>09/10/2021</b> - <b>16:00</b>h até a hora que Deus quiser!</span>
                    <span class="badge badge-pill badge-secondary" style="padding: 1rem; margin: 1rem;">*Importante chegar no horário.</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapseLocal">Local</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapseLocal">
                  <div class="card card-body">
                    <span>
                      <i class="fas fa-tree"></i>
                      <b>  Minha casa  </b>
                      <i class="fas fa-tree"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapseRoupa">Roupa</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapseRoupa">
                  <div class="card card-body">
                    <span>Venham com roupa confortável e tragam uma extra por garantia. <span class="badge badge-pill badge-secondary" style="padding: 1rem; margin: 1rem;">É sério</span></span> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapseBebida">Bebida</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapseBebida">
                  <div class="card card-body">
                    <span>Traga a sua própria bebida <b>alcoólica</b>!</span> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapseDormitorio">Dormitório</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapseDormitorio">
                  <div class="card card-body">
                    <span>Se quiser pode dormir aqui!</span>
                    <span class="badge badge-pill badge-secondary" style="padding: 1rem; margin: 1rem;">*Avisar com antecedencia</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapsePresente">Presente</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapsePresente">
                  <div class="card card-body">
                    <span>
                      <i class="fas fa-skull-crossbones"></i>
                      <i class="fas fa-radiation"></i>
                      <i class="fas fa-gift" style="margin: 0 1rem 0 1rem;"></i>
                      Entrada permitida apenas mediante apresentação do presente!
                      <i class="fas fa-gift" style="margin: 0 1rem 0 1rem;"></i>
                      <i class="fas fa-radiation"></i>
                      <i class="fas fa-skull-crossbones"></i>
                    </span> 
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-middle align-items-center" style="margin-top: 2rem;">
              <div class="col-2">
                <button class="btn btn-warning" id="btn_collapseConfirmacao">Confirmacao</button>
              </div>
              <div class="col">
                <div class="collapse" id="collapseConfirmacao">
                  <div class="card card-body">
                    <span>Confirmar presença até dia <b>16/08/2021</b>.</span> 
                    <span class="badge badge-pill badge-secondary" style="padding: 1rem; margin: 1rem;">*Clique nos botões abaixo para obter a ajuda do Stitch nessa decisão!</span>
                    <div class="row" style="margin: 2rem;">
                      <div class="col">
                        <button href="#" class="btn btn-danger btn-lg" ng-click="togglePresence(1)" style="padding: 2rem;">
                          <h3>Não poderei ir!</h3>
                          <small>Não gosto do Stitch!</small>
                        </button>
                      </div>
                      <div class="col">
                        <button href="#" class="btn btn-success btn-lg" ng-click="togglePresence(2)" style="padding: 2rem;">
                          <h3>Confirmo a presença!</h3>
                          <small>Eu amo o Stitch!</small>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>



</div>