<div class="container-fluid birthday">
  <div class="row justify-content" ng-show="zonaAcesso == 0" style="padding: 30px;">
    <div class="col"></div>
    <div class="col-10 text-center">
      <div class="form-group">
        <label class="alert alert-info" for="accessCode">Insira seu código de convidado</label>
        <input ng-model="codigoAcesso" ng-change="verificaAcesso()" type="text" class="form-control" id="accessCode" placeholder="Digite o seu código!">
        <div class="btn-group" role="group" style="padding: 30px;">
          <button type="button" class="btn btn-primary" ng-click="setZonaAcesso(1)">1</button>
          <button type="button" class="btn btn-primary" ng-click="setZonaAcesso(2)">2</button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>

  <div class="container-fluid" ng-if="zonaAcesso == 1">
    <div class="row justify-content" style="padding: 30px;">
      <div class="col text-center">
        <video src="assets/videos/StitchIntroCompacto.mp4" width="1080" height="720" controls></video> <!-- autoplay -->
      </div>
    </div>
    <div class="row justify-content" style="padding: 30px;">
      <div class="col"></div>
      <div class="col-4 text-center">
        <button type="button" class="btn btn-success btn-lg btn-block" ng-click="setZonaAcesso(2)">Continuar</button>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <div class="container-fluid" ng-if="zonaAcesso == 2">
    <div class="row justify-content" style="padding: 30px;">
      <div class="col"></div>
      <div class="col-8 text-center">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Olá {{convidados}}, sejam bem-vindos ao meu convite animado :)</h4>
          <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
          <hr>
          <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
</div>