<div class="home">
    <div class="container">
        <div class="row justify-content-md-center" style="margin-top: 100px;">
            <div class="col text-center">
                <div class="card">
                    <div class="card-body">
                        <h2>Olá, meu nome é Henrique Cechinel.</h2>
                        <div>This page is Under Construction!</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center" style="margin-top: 50px;">
            <div class="col text-center">
                <a class="btn btn-dark" href="#!/birthday" role="button">Projeto Birthday</a>
            </div>
        </div>
    </div>
</div>